.section{
    display: flex;
    justify-content: space-between;
    background-image: url("../../public/africa\ dish\ one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    
}